/*
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h

  // conda
  condaCacheDir = "$HOME/conda-cache-nextflow"

  // Singularity image path
  singularityImagePath = ""

  // Global path used for path or multipath profiles
  globalPath = ""
}
