params {

    geniac {
        tools {
            // Add your tools available in conda here, for example:
            python = "conda-forge::python=3.6.11=h6f2ec95_1_cpython"
            multiqc = "defaults::conda=4.6.14 conda-forge::lzstring=1.0.4=py_1001 conda-forge::matplotlib-base=3.1.1=py37hfd891ef_0 conda-forge::spectra=0.0.11=py_1 bioconda::multiqc=1.8=py_2"
        }

        // options for singularity and docker containers
        containers {
            singularityImagePath = params.singularityImagePath ?: "${baseDir}/../containers/singularity"
            singularityRunOptions = ""
            dockerRunOptions = ""
            globalPath = params.globalPath ?: "${baseDir}/../path"

            // containers are based on CentOS linux
            // some tools require dependcies to be installed with 'yum install'
            // specific dependencies are listed below
            yum {
                // example of dependency:
                fastqc = 'fontconfig dejavu*'
            }

        }
    }
}