includeConfig 'process.config'

singularity {
    enabled = true
    autoMounts = true
    runOptions = "${params.geniac.containers.singularityRunOptions}"
}

process {
    withLabel:pacbiosmrtlink { container = "${params.geniac.singularityImagePath}/pacbiosmrtlink.simg" }
    withLabel:onlyLinux { container = "${params.geniac.singularityImagePath}/onlylinux.simg" }
    withLabel:multiqc { container = "${params.geniac.singularityImagePath}/multiqc.simg" }
    withLabel:python { container = "${params.geniac.singularityImagePath}/python.simg" }
}
