/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */


//PacBio - Long reads
params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
/*
  You should have access to all PacBio files: <filename>.adapters.fasta ,<filename>.scraps.bam, <filename>.sts.xml, <filename>.subreads.bam.pbi, <filename>.metadata.xml, <filename>.scraps.bam.pbi, <filename>.subreads.bam 

*/

  /*
  readPaths = [/data/kdi_prod/dataset_all/2008016/export/user/m54063_181211_144629/m54063_181211_144629"]
  */

  // Sample Plan - to use instead of readPaths
  //samplePlan = "$baseDir/test/sampleplan.csv"
    samplePlan = "$baseDir/test/sampleplan_OICCS.csv"
  

}

